@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

body {
    font-family: 'Tiro Devanagari Sanskrit' "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    line-height: 1.3em;
    font-size: 20px;
};
